footer {
	padding: 1.25em 2.25em;
	justify-content: center;
	text-align: center;
	background: var(--clr-red);
	color: var(--clr-background);
}

.footer--link {
	transition: ease all 0.2s;
}

.footer--link:hover {
	filter: brightness(0.4);
	cursor: pointer;
	transition: ease all 0.2s;
}

.footer--icon {
	height: 2em;
	color: var(--clr-background);
}
